extends ../_layout
block content
	header.dash-titlebar
		.mb-md-0.mb-3
			span.dash-titlebar-title Review Submissions

	.dash-boxes.container-fluid
		.box.box-b
			table.box-table.table
				thead
					tr
						th Name
						th Reviews
						th Your Score
						th Notes
				tbody
					for submission in submissions
						- var review = submission.reviews.find(review => review.userId == user._id) || {score: 'N/A', notes: ''};
						- var reviewCount = (typeof submission.reviews === 'undefined') ? 0 : submission.reviews.length;
						tr
							td
								a(href="/submissions/review/" + submission._id)=submission.actName
							td
								if reviewCount == 0
									span.badge.badge-danger No Reviews
								else if reviewCount >= 5
									span.badge.badge-success Success! #{reviewCount}
								else
									span.badge.badge-primary=reviewCount
							td
								+renderReview(review.score)
							td.text-truncate(style="max-width: 150px")=review.notes

include _render-review