extends ../_layout
block content
	header.dash-titlebar
		.mb-md-0.mb-3
			span.dash-titlebar-title 
				a.text-muted(href="/submissions/") Submissions
				|  /
				| Submission Reviews

	.dash-boxes.container-fluid
		.box.box-b
			table.box-table.table
				thead
					tr
						th Reviewer
						th Score
						th Notes
				tbody
					for review in submission.reviews
						tr
							td=review.username
							td=review.score
							td=review.notes
