extends ../_layout
block content
	header.dash-titlebar
		.mb-md-0.mb-3
			span.dash-titlebar-title 
				a.text-muted(href="/submissions/") Submissions
				|  /
				| #{submission.actName}


	.dash-boxes
		.row
			.col
				h2.block-title Hello, world!