extends ../_layout
block content
	header.dash-titlebar
		.mb-md-0.mb-3
			span.dash-titlebar-title Submissions
		button.btn.btn-secondary.ml-md-auto(href="#") Add Submission

	.dash-boxes.container-fluid
		.box.box-b
			table.box-table.table
				thead
					tr
						th Name
						th Type
				tbody
					for submission in submissions
						tr
							td=submission.actName
							td=submission.showType
							td
								a(href="/submissions/reviews/"+submission._id) Reviews
							td
								a(href="/submissions/edit/"+submission._id) Edit
							td
								a(href="/submissions/delete/"+submission._id) Delete