extends ../_layout
block content

  #app
    .row
      .col-4.offset-4(v-show="paymentComplete")
        p Thank you for your purchase! 
        p An email has been sent to 
          span.code {{badge.email}}
      .col-4.offset-4(v-show="!paymentComplete")
        .form-group
          label(for="name") Name
          input#name.form-control(type="text" v-model="badge.name")
        .form-group
          label(for="email") Email
          input#email.form-control(type="email" v-model="badge.email")
        .form-group
          label(for="phone") Phone Number
          input#phone.form-control(type="tel" v-model="badge.phone")
        .form-group
          label(for="quantity") Quantity
          select#quantity.custom-select(name="quantity" v-model="badge.quantity")
            option(selected) 1
            option 2
            option 3
            option 4
            option 5
        .form-group.text-center
          #paypal-button

  script(src="/js/vue.js")
  script(src="https://www.paypalobjects.com/api/checkout.js")
  script.
    let app = new Vue({ 
      el: "#app",
      data() {
        return { 
          badge: {
            name: '',
            email: '',
            phone: '',
            quantity: 1
          },
          paymentComplete: false
        }
      },
      methods: {
        isValid() {
          return this.badge.name != '' && 
                 this.badge.email != '' && 
                 this.badge.phone != ''
        }
      }
    })

    function validate(actions) {
      app.isValid() ? actions.enable() : actions.disable()
    }

    function onChange(handler) {
      document.querySelector('#name').addEventListener('change', handler)
      document.querySelector('#email').addEventListener('change', handler)
      document.querySelector('#phone').addEventListener('change', handler)
    }

    paypal.Button.render({
      env: 'sandbox',
      style: {
        layout: 'vertical',
        size:   'medium',
        shape:  'rect',
        color:  'gold' 
      },
      funding: {
        allowed: [ paypal.FUNDING.CARD ],
        disallowed: [ paypal.FUNDING.CREDIT ]
      },
      validate: function(actions) {
        validate(actions)
        onChange(function() { validate(actions) })
      },
      onClick: function() {
        if(!app.isValid()) alert("All fields are mandatory")
      },
      payment: function(data, actions) {
        return actions.request
          .post('/api/paypal/create-badge-all-sale', app.badge)
          .then(function(response) {
            return response.id;
          })
      },
      onAuthorize: function(data, actions) {
        return actions.payment
          .get()
          .then(function(paymentData) {
            let requestData = {
              paymentId: data.paymentID,
              payerId: data.payerID,
              name: app.badge.name,
              email: app.badge.email,
              phone: app.badge.phone,
              quantity: paymentData.transactions[0].item_list.items[0].quantity
            }
            return actions.request
              .post('/api/paypal/execute-badge-all-sale', requestData)
              .then(function(response) {
                app.paymentComplete = true
              })
          })
      }
    }, '#paypal-button')