extends ../_layout
block content
  header.dash-titlebar
    .mb-md-0.mb-3
      span.dash-titlebar-title Acts
    a.btn.btn-secondary.ml-md-auto(href="/acts/create") Create Act

  #app.dash-boxes.container-fluid

    ul.nav.nav-pills
      li.nav-item
        a.nav-link.active(data-toggle="tab" href="#home") Acts
      li.nav-item
        a.nav-link(data-toggle="tab" href="#other") Performers

    .tab-content
      #home.tab-pane.show.active
        .box.box-b
          table.box-table.table
            thead
              tr
                th
                th Name
                th Type
                th Location
                th Image?
            tbody
              tr
                th(style="width:180px")
                  select.form-control(v-model="filterActsByConfirmation")
                    option(value='all') All
                    option(value='yes') âœ… Accepted
                    option(value='reschedule') ðŸš¸ Reschedule
                    option(value='no') â›”ï¸ Rejected
                    option(value='null') ðŸ‘» N/A
                th
                  input.form-control(type="text" v-model="filterActsByName" placeholder="Filter by Name")
                th
                  select.form-control(v-model="filterActsByType")
                    option(selected value="") All
                    option Improv
                    option Sketch
                    option Stand-Up
                    option Individual
                    option Music
                th
                  input.form-control(type="text" v-model="filterActsByCity" placeholder="Filter by City")
              tr(v-for="act in filteredActs")
                td.text-right {{act.confirmationStatus === 'no' ? 'â›”ï¸' : act.confirmationStatus === 'reschedule' ? 'ðŸš¸' : act.confirmationStatus === 'yes' ? 'âœ…' : ''}}
                td 
                  a(@click.prevent="clicky(act)" href="#" data-toggle="modal" data-target="#act-modal") {{act.actName}}
                td {{act.showType}}
                td {{act.city}}, {{act.state}}
                td {{act.imageUrl ? '' : 'â›”ï¸'}}
      #other.tab-pane
        .box.box-b
          table.box-table.table
            thead
              tr
                th Name
                th Act
                th Type
                th Email
            tbody
              tr
                th
                  input.form-control(type="text" v-model="filterPerformersByName" placeholder="Filter by Name")
                th
                  input.form-control(type="text" v-model="filterPerformersByAct" placeholder="Filter by Act")
                th
                  select.form-control(v-model="filterPerformersByType")
                    option(selected value="") All
                    option Improv
                    option Sketch
                    option Stand-Up
                    option Individual
                    option Music
                th
                  input.form-control(type="text" v-model="filterPerformersByEmail" placeholder="Filter by Email")
              tr(v-for="performer in filteredPerformers")
                td {{performer.name}}
                td 
                  a(href="#" @click.prevent="clicky2(performer.actId)" data-toggle="modal" data-target="#act-modal") {{performer.act}}
                td {{performer.type}}
                td {{performer.email}}
    act-modal(:act="currentAct")  
  
  include components/act-modal
  script(src="/js/axios.min.js")
  script(src="/js/vue.js")
  script.
    Vue.component('act-modal', {
      template: "#act-modal-template",
      props: ['act']
    })

    let app = new Vue({ 
      el: "#app",
      data() { 
        return {
          acts: [],
          performers: [],
          currentAct: {name: "YAY", additionalMembers:[], bonusShows: [], socialMedia:[], videoUrls: []},
          filterActsByConfirmation: 'all',
          filterActsByName: '',
          filterActsByType: '',
          filterActsByCity: '',
          filterPerformersByName: '',
          filterPerformersByAct: '',
          filterPerformersByType: '',
          filterPerformersByEmail: ''
        }
      },
      computed: {
        filteredActs() {
          let filteredActs = this.acts
          if (this.filterActsByConfirmation === 'null') filteredActs = filteredActs.filter(a=> a.confirmationStatus == null)
          else if (this.filterActsByConfirmation !== 'all') filteredActs = filteredActs.filter(a=> a.confirmationStatus === this.filterActsByConfirmation)
          if (this.filterActsByType !== '') filteredActs = filteredActs.filter(a=> a.showType === this.filterActsByType)
          if (this.filterActsByName !== '') filteredActs = filteredActs.filter(a=> a.actName.match(new RegExp(this.filterActsByName, 'i')))
          if (this.filterActsByCity !== '') filteredActs = filteredActs.filter(a=> a.city.match(new RegExp(this.filterActsByCity, 'i')))
          filteredActs.sort((a, b)=> { return a.actName.localeCompare(b.actName)})
          return filteredActs
        },
        filteredPerformers() {
          let filteredPerformers = this.performers
          if (this.filterPerformersByType !== '') filteredPerformers = filteredPerformers.filter(a=> a.type === this.filterPerformersByType)
          if (this.filterPerformersByName !== '') filteredPerformers = filteredPerformers.filter(a=> a.name.match(new RegExp(this.filterPerformersByName, 'i')))
          if (this.filterPerformersByEmail !== '') filteredPerformers = filteredPerformers.filter(a=> a.email.match(new RegExp(this.filterPerformersByEmail, 'i')))
          if (this.filterPerformersByAct !== '') filteredPerformers = filteredPerformers.filter(a=> a.act.match(new RegExp(this.filterPerformersByAct, 'i')))
          filteredPerformers.sort((a, b)=> { return a.name.localeCompare(b.name)})
          return filteredPerformers          
        }
      },
      methods: {
        clicky(selectedAct) {
          this.currentAct = selectedAct
        },
        clicky2(actId) {
          this.currentAct = this.acts.find(a=> a._id===actId)
        }
      },
      created() {
        let self = this
        axios
          .get('/api/submissions/get-all-accepted')
          .then(function(response) {
            self.acts = response.data

            // For getting the performers, filter only acts that have confirmed
            let confirmedActs = self.acts.filter(a=> a.confirmationStatus == 'yes' || a.confirmationStatus == 'reschedule')
            let performers = []
            for(let i=0; i<confirmedActs.length; i++) {
              performers.push({
                name: confirmedActs[i].primaryContactName,
                email: confirmedActs[i].primaryContactEmail,
                act: confirmedActs[i].actName,
                actId: confirmedActs[i]._id,
                type: confirmedActs[i].showType
              })
              for(let j=0; j<confirmedActs[i].additionalMembers.length; j++) {
                performers.push({
                  name: confirmedActs[i].additionalMembers[j].name,
                  email: confirmedActs[i].additionalMembers[j].email,
                  act: confirmedActs[i].actName,
                  actId: confirmedActs[i]._id,
                  type: confirmedActs[i].showType
                })
              }
            }
            self.performers = performers
          })
          .catch(function(error) {
            alert("Error getting acts :(")
            console.log(error)
          })
      }
    })
