extends ../_layout
block content
  header.dash-titlebar
    .mb-md-0.mb-3
      span.dash-titlebar-title 
        a.text-muted(href="/acts/") Acts
        |  /
        | #{act.actName}

  .dash-boxes.container-fluid
    p IOU: cool info