script.
  let app = new Vue({ 
    el: "#app",
    store: store,
    data() { 
      return {
        days: [
          {day: "Tuesday", venues: ["Hideout Down", "Hideout Up", "ColdTowne"]},
          {day: "Wednesday", venues: ["Hideout Down", "Hideout Up", "ColdTowne"]},
          {day: "Thursday", venues: ["Hideout Down", "Hideout Up", "ColdTowne", "Fallout", "Velveeta"]},
          {day: "Friday", venues: ["Hideout Down", "Hideout Up", "ColdTowne", "Fallout", "Velveeta", "Spider House"]},
          {day: "Saturday", venues: ["Hideout Down", "Hideout Up", "ColdTowne", "Fallout", "Velveeta", "Spider House", "Institution"]},
          {day: "Sunday", venues: ["Hideout Down", "Fallout", "Velveeta"]},
          {day: "Monday", venues: ["Hideout Down"]}
        ],
        editMode: true,
        hideNavigation: false
      }
    },
    methods: {
      toggleNavigation() {
        if(this.hideNavigation) {
          document.getElementById("dash-nav").style.display = 'flex';
          document.getElementsByTagName("main")[0].style["margin-left"] = '206px'
          document.getElementsByClassName('dash-toolbar')[0].style.left = '206px'
        }
        else {
          document.getElementById("dash-nav").style.display = 'none';
          document.getElementsByTagName("main")[0].style["margin-left"] = 0
          document.getElementsByClassName('dash-toolbar')[0].style.left = 0
        }
        this.hideNavigation = !this.hideNavigation
      },
    },

    created() {
      let self = this

      // Get Shows
      axios
        .get('/api/shows')
        .then(function(response) {
          //console.log(response.data)
          self.$store.commit('setupShows', response.data)
        })
        .catch(function(error) {
          alert("Error getting shows :(")
          console.log(error)
        })

      // Get Acts
      axios
        .get('/api/submissions/get-all-accepted')
        .then(function(response) {
          self.$store.commit('setupActs', response.data)
        })
        .catch(function(error) {
          alert("Error getting acts :(")
          console.log(error)
        })

      // Get Workshops
      axios
        .get('/api/workshops/')
        .then(function(response) {
          self.$store.commit('setupWorkshops', response.data)
        })
        .catch(function(error) {
          alert("Error getting workshops :(")
          console.log(error)
        })

    }
  })