script.
  const store = new Vuex.Store({
    state: {
      shows: [
        {day: "Wednesday", venue: "ColdTowne", time: "8:00", acts: ['Frank Mills', 'Crossroads']},
        {day: "Wednesday", venue: "ColdTowne", time: "10:00", acts: ['Trench Coat', 'Marinara Trench']},
        {day: "Tuesday", venue: "ColdTowne", time: "8:00", acts: ['Channel 2', 'Tunnel Vision']},
        {day: "Tuesday", venue: "Hideout Up", time: "8:00", acts: ['Midnight Society', 'Golden']},
        {day: "Friday", venue: "Fallout", time: "11:00pm", acts: ['Nothing']}
      ],
      submissions: [],
      showAddActModal: false,
      addActModal: { day: '', venue: '', time: '' }
    },
    getters: {
      getShows: state => (day, venue) => {
        return state.shows.filter(show=> {return (show.day === day && show.venue === venue)})
      }
    }
  })