script.
  const store = new Vuex.Store({
    state: {
      shows: [],
      acts: [],
      workshops: [],
      addShowModal: { day: '', venue: '', time: '' },
      addActModal: { day: '', venue: '', time: '', _id: '' },
      addWorkshopModal: { day: '', venue: '', time: ''}
    },
    getters: {
      getShows: state => (day, venue) => {
        return state.shows.filter(show=> {return (show.day === day && show.venue === venue)})
      },
      getWorkshops: state => (day, venue) => {
        return state.workshops
          .filter(workshop=> { return (workshop.day == day && workshop.venue == venue)})
          .sort((a,b)=> { return (a.time > b.time) ? 1 : ((b.time > a.time) ? -1 : 0)})
      },
      getAllWorkshops: state => {
        return state.workshops
      },
      getWorkshopModal: state => {
        return state.addWorkshopModal
      }
    },
    mutations: {
      setupShows(state, payload) {
        state.shows = payload
      },
      addShowModal(state, payload) {
        state.addShowModal = payload
      },
      addShow(state, payload) {
        state.shows.push(payload)
      },
      updateShow(state, payload) {
        let showIndex = state.shows.findIndex(s=> s._id === payload._id)
        Vue.set(state.shows, showIndex, payload)
      },
      removeShow(state, payload) {
        state.shows.splice(state.shows.findIndex(s=> s._id === payload), 1)
      },
      addWorkshopModal(state, payload) {
        state.addWorkshopModal = payload
      },
      updateWorkshop(state, payload) {
        let workshop = state.workshops.findIndex(w=> w._id === payload._id)
        Vue.set(state.workshops, workshop, payload)
      },
      removeWorkshop(state, payload) {
        let workshopIndex = state.workshops.findIndex(w=> w._id === payload)
        state.workshops.splice(workshopIndex, 1)
      },
      // Get all paid approved submissions, not scheduled acts
      setupActs(state, payload) {
        state.acts = payload
      },

      setupWorkshops(state, payload) {
        state.workshops = payload
      }
    }
  })