script.
  const store = new Vuex.Store({
    state: {
      shows: [],
      acts: [],
      addShowModal: { day: '', venue: '', time: '' },
      addActModal: { day: '', venue: '', time: '', _id: '' }
    },
    getters: {
      getShows: state => (day, venue) => {
        return state.shows.filter(show=> {return (show.day === day && show.venue === venue)})
      }
    },
    mutations: {
      setupShows(state, payload) {
        state.shows = payload
      },
      addShowModal(state, payload) {
        state.addShowModal = payload
      },
      addShow(state, payload) {
        state.shows.push(payload)
      },
      updateShow(state, payload) {
        let showIndex = state.shows.findIndex(s=> s._id === payload._id)
        Vue.set(state.shows, showIndex, payload)
      },
      removeShow(state, payload) {
        state.shows.splice(state.shows.findIndex(s=> s._id === payload), 1)
      },

      // Get all paid approved submissions, not scheduled acts
      setupActs(state, payload) {
        state.acts = payload
      }
    }
  })