doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(rel="icon" type="image/png" href="/img/favicon.png")
		link(rel="stylesheet" href="/css/charming-pro.min.css")
		link(rel="stylesheet" href="/css/custom.css")
		title Out of Bounds Comedy Festival
		script(src="/js/jquery.min.js")
		include _layout/_google-analytics
		if recaptcha 
			script(src='https://www.google.com/recaptcha/api.js')
		if hotjar
			include _layout/_hotjar
	body.bg-accent-oob
		if user
			.dash.dash-fixed
				include _layout/_navigation
				.dash-app
					include _layout/_toolbar
					main
						block content
		else
			block content

		script(src="/js/popper.min.js")
		script(src="/js/bootstrap.min.js")
		script(src="/js/charming-pro.min.js")
		script.
			// Initialize popovers
			$(function () {
			  $('[data-toggle="popover"]').popover()
			})