html(lang="en")
head
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
	link(rel="stylesheet" href="css/charming-pro.min.css")
	link(rel="stylesheet" href="css/custom.css")
	title OoBleck
body.bg-accent-oob
	.p-3.text-center
		img(src="img/logo.png" style="width: 342px; height: 212px")
		h1.p-3.text-light.font-weight-bold 2018 Application
	.container
		block content
	script(src="js/jquery.slim.min.js")
	script(src="js/popper.min.js")
	script(src="js/bootstrap.min.js")
	script(src="js/charming-pro.min.js")
	script.
		// Initialize popovers
		$(function () {
		  $('[data-toggle="popover"]').popover()
		})