nav.dash-nav
	header
		a.dash-nav-toggler
			span.dash-nav-toggler-icon
		.dash-nav-logo
			a.dash-nav-logo-link(href="#") OoBleck

	.dash-nav-list
		a.dash-nav-item(href="#") Module 1
		a.dash-nav-item(href="#") Module 2
		a.dash-nav-item(href="#") Module 3