extends _layout
block content
	style.
		.bg-accent-oob {
			background: url('../img/audience-dark.jpg') no-repeat bottom center fixed; 
			background-size: cover;
		}
	.p-3.text-center
		img.submission-logo(src="img/logo.png" alt="Out of Bounds Comedy Festival")
		h1.p-3.text-light.font-weight-bold 2018 Application
	.container
		.row
			.col-lg-8.mx-auto.pb-5
				.box
					if confirmation
						form(action="/gloop" method="POST")
							.box-head.box-head-accent-oob
							include apply/photo-upload
							include apply/application-fee
							include apply/submit

					else 
						form(action="/apply" method="POST")
							.box-head.box-head-accent-oob
							if errors 
								include apply/errors
							include apply/act-details
							include apply/location
							include apply/personnel
							include apply/performance-needs
							include apply/video
							include apply/social-media
							include apply/availability
							include apply/flight-agreement
							include apply/next