extends _layout
block content
	.container
		.row
			.col-8.mx-auto.pb-5.my-8
				.box
					.box-head.box-head-accent-oob
					.box-block.box-b.box-bt-0
						h2 Error! 😯
						p o noes
						pre=error.status
						pre=error.message