extends _layout
block content
	header.dash-titlebar
		.mb-md-0.mb-3
			span.dash-titlebar-title Submissions
		button.btn.btn-secondary.ml-md-auto Add Submission

	.dash-boxes.container-fluid
		.box.box-b
			table.box-table.table
				thead
					tr
						th Name
						th Avg. Score
				tbody
					tr
						td Channel 2
						td 100%
					tr
						td PGraph
						td 80%