html
head
body
	p Kitten list
	ul
		each kitten in kittens
			li(data-id=kitten._id) #{kitten.name}
		else
			li No kittens found!

	p Add kitten!
	form(method="POST" action="/kittens/create")
		input(type="text" name="name")
		input(type="submit")