extends _layout
block content
	header.dash-titlebar
		.mb-md-0.mb-3
			span.dash-titlebar-title Users
		if user.roles.includes('admin')
			button.btn.btn-secondary.ml-md-auto(data-toggle="modal" data-target="#add-user-modal") Add User

	.dash-boxes.container-fluid
		.box.box-b
			table.box-table.table
				thead
					tr
						th Name
						th
						th
						th Roles
				tbody
					for user in users
						tr
							td=user.username
							td
								a(href="users/edit/"+user._id) Edit
							td
								a(href="users/delete/"+user._id) Delete
							td
								for role in user.roles
									span.badge.badge-info=role
									| &nbsp;

		if user.roles.includes('admin')
			.box.box-b.box-block
				h3 Fancy admin stuff
				p Only an admin can see this part

	#add-user-modal.modal.fade
		.modal-dialog
			form#add-user-form.modal-content(action="/users/" method="POST")
				.modal-header
					h5.modal-title Create User
					button.close(data-dismiss="modal")
						span &times;
				.modal-body
					.form-group
						label.col-form-label(for="add-username") Username
						input#add-username.form-control(type="text" name="username")
					.form-group
						label.col-form-label(for="add-password") Password
						input#add-password.form-control(type="password" name="password")
					p Roles
					.form-check
						input#admin-role-checkbox.form-check-input.input(type="checkbox" name="roles" value="admin")
						label.form-check-label(for="admin-role-checkbox") Admin
					.form-check
						input#reviewer-role-checkbox.form-check-input.input(type="checkbox" name="roles" value="reviewer")
						label.form-check-label(for="reviewer-role-checkbox") Reviewer
				.modal-footer
					button.btn.btn-secondary(type="button" data-dismiss="modal") Cancel
					button#add-user-button.btn.btn-primary(type="submit") Save