extends _layout
block content
	header.dash-titlebar
		.mb-md-0.mb-3
			span.dash-titlebar-title Users
		//button.btn.btn-secondary.ml-md-auto Add Submission

	.dash-boxes.container-fluid
		.box.box-b
			table.box-table.table
				thead
					tr
						th Name
						th Object ID
				tbody
					for user in users
						tr
							td=user.username
							td
								a(href="users/delete/"+user._id)=user._id
								