script#add-act-modal-template(type="text/template")
  #add-act-modal.modal
    .modal-dialog
      .modal-content
        .modal-header
          h5.modal-title Add Act
          button.close(type="button" data-dismiss="modal")
            span &times;
        .modal-body
          form
            .form-group
              label(for="add-act-modal-day") Day
              input#add-act-modal-day.form-control(type="text" readonly v-model="show.day")
            .form-group
              label(for="add-act-modal-venue") Venue
              input#add-act-modal-venue.form-control(type="text" readonly v-model="show.venue")
            .form-group
              label(for="add-act-modal-time") Time
              input#add-act-modal-time.form-control(type="text" readonly v-model="show.time")
            .form-group
              label(for="add-act-modal-search") Act
              input#add-act-modal-search.form-control(type="text" placeholder="Search for act" v-model="search")
            .form-group
              ul
                li(v-for="act in filteredActs") 
                  a(href="#" @click.prevent="addAct(act)" data-dismiss="modal") {{act.actName}}
        .modal-footer
          button.btn.btn-secondary(type="button" data-dismiss="modal") Cancel

script.
  Vue.component('add-act-modal', {
    template: "#add-act-modal-template",
    data() {
      return {
        search: ''
      }
    },
    computed: {
      acts() {
        return this.$store.state.acts
      },
      filteredActs() {
        if (this.search == '') return null
        let actNameFilter = new RegExp(this.search, 'i')
        return this.acts.filter(a=> a.actName.match(actNameFilter))
      },
      show() {
        return this.$store.state.addActModal
      }
    },
    methods: {
      addAct(act) {
        this.search = ''
        let self = this
        axios
          .post('/api/shows/add-act/' + this.show._id, act)
          .then(function(response) {
            console.log(response.data)
            self.$store.commit('updateShow', response.data)
          })
          .catch(function(error){
            alert("Error adding act to show :(")
            console.log(error)
          })        
      }
    }
  })