script#add-act-modal-template(type="text/template")
  #add-act-modal.modal
    .modal-dialog
      .modal-content
        .modal-header
          h5.modal-title Add Act
          button.close(type="button" data-dismiss="modal")
            span &times;
        .modal-body
          form
            .form-group
              label(for="add-act-modal-day") Day
              input#add-act-modal-day.form-control(type="text" readonly v-model="addActModal.day")
            .form-group
              label(for="add-act-modal-venue") Venue
              input#add-act-modal-venue.form-control(type="text" readonly v-model="addActModal.venue")
            .form-group
              label(for="add-act-modal-time") Time
              input#add-act-modal-time.form-control(type="text" readonly v-model="addActModal.time")
            .form-group
              label(for="add-act-modal-name") Act
              input#add-act-modal-name.form-control(type="text" v-model="addActModal.name")
        .modal-footer
          button.btn.btn-secondary(type="button" data-dismiss="modal") Cancel
          button.btn.btn-primary(type="button") Clicky

script.
  Vue.component('modal', {
    template: "#add-act-modal-template",
    computed: {
      addActModal() {
        return this.$store.state.addActModal
      }
    }
  })