.box-block.box-bt
	input#submission-id(name="submission-id" value=submission._id type="hidden")
	input#attendee-count(name="attendee-count" value=submission.additionalMembers.length + 1 type="hidden")
	h3 Application Fee
	p This year we're charging $8 per person and your act has #{submission.additionalMembers.length + 1} members. Thus your application fee is  
		code $#{(submission.additionalMembers.length + 1) * 8}.00
	p#payment-received(style="display:none") Payment Received! ✅
	#paypal-buttons
	script(src="https://www.paypalobjects.com/api/checkout.js")
	script.
		paypal.Button.render({

			env: 'sandbox',

			style: {
				layout: 'vertical',
				size:   'medium',
				shape:  'rect',
				color:  'gold' 
			},

			funding: {
				allowed: [ paypal.FUNDING.CARD ],
				disallowed: [ paypal.FUNDING.CREDIT ]
			},

			client: {
				sandbox:    'AUzSLTCNnKxA_yJ20127P4tRv59dR7XmrJtgwCxpIN-JBlsy0iKea_oU2Hj5BTeQYgpDDAG4Hg1NoEg7',
				production: 'AX13ANTG6te5DW1WWpz3pxVFf8J0zOeWpEda7ytOF8xdCqYncHvsT7ZjZjpjYwPvTMzcgI32EdGx9RJx'
			},

			commit: true, // Show a 'Pay Now' button

			payment: function(data, actions) {
				var earlyBirdPrice = 8
				var attendeeCount = parseInt($("#attendee-count").val())
				var charge = attendeeCount * earlyBirdPrice
				return actions.payment.create({
					payment: {
						transactions: [
							{
								amount: { total: charge, currency: 'USD' }
							}
						]
					}
				})
			},

			onAuthorize: function(data, actions) {
				return actions.payment.execute().then(function(paymentInfo) {
					// The payment is complete!
					// You can now show a confirmation message to the customer
					$("#paypal-buttons").hide()
					$("#submit-button").prop('disabled', false)
					$("#payment-received").show()

					var objectId = $("#submission-id").val()
					$.post('/apply/pay/' + objectId, {paymentInfo: paymentInfo}, function(paymentResponse) {
						alert("Payment received!")
					}, "json")
				})
			}

		}, '#paypal-buttons')