.box-block.box-bt
	input#submission-id(name="submission-id" value=submission._id type="hidden")
	input#application-fee(name="application-fee" value=applicationFee type="hidden")
	h3 Application Fee
	p Your application fee is 
		code $#{applicationFee}.00
	p#payment-received(style="display:none") Payment Received! ✅
	#paypal-buttons
	script(src="https://www.paypalobjects.com/api/checkout.js")
	script.
		paypal.Button.render({

			env: 'sandbox',

			style: {
				layout: 'vertical',
				size:   'medium',
				shape:  'rect',
				color:  'gold' 
			},

			funding: {
				allowed: [ paypal.FUNDING.CARD ],
				disallowed: [ paypal.FUNDING.CREDIT ]
			},

			client: {
				sandbox:    'AUzSLTCNnKxA_yJ20127P4tRv59dR7XmrJtgwCxpIN-JBlsy0iKea_oU2Hj5BTeQYgpDDAG4Hg1NoEg7',
				production: 'AX13ANTG6te5DW1WWpz3pxVFf8J0zOeWpEda7ytOF8xdCqYncHvsT7ZjZjpjYwPvTMzcgI32EdGx9RJx'
			},

			commit: true, // Show a 'Pay Now' button

			payment: function(data, actions) {
				var applicationFee = parseInt($("#application-fee").val())
				return actions.payment.create({
					payment: {
						transactions: [
							{
								amount: { total: applicationFee, currency: 'USD' }
							}
						]
					}
				})
			},

			onAuthorize: function(data, actions) {
				return actions.payment.execute().then(function(paymentInfo) {
					// The payment is complete!
					// You can now show a confirmation message to the customer
					$("#paypal-buttons").hide()
					$("#submit-button")
						.html("Submit Application")
						.prop('disabled', false)

					var objectId = $("#submission-id").val()
					$.post('/apply/pay/' + objectId, {paymentInfo: paymentInfo}, function(paymentResponse) {
						$("#payment-received").show()
					}, "json")
				})
			}

		}, '#paypal-buttons')