- var lateSubmission = true
if lateSubmission
	.box-block.box-bb
		p This year's festival will be from 
			strong August 28th  
			| to  
			strong September 3rd
			| . We will send out acceptance emails in the beginning of July. 

		h4 Late Submission
		p Applications officially closed April 1st but we will be accepting late submissions until April 15th. Late submissions are $35 for a solo or duo act, $55 for 3+ people.
else
	.box-block.box-bb
		p This year's festival will be from 
			strong August 28th  
			| to  
			strong September 3rd
			| . We will send out acceptance emails in the beginning of July. 
			em The last day to apply to the festival will be March 31
				sup st
			| .
		h4 Application Fee
		p 
			strong Early Bird  
			em (Feb 18th-Feb 28th)  
			| - solo/duo $15, 3+ people $35
			br 
			strong Regular Bird  
			em (March 1st-March 31st)  
		| - solo/duo $25, 3+ people $45
