.box-block.box-bb
	h4 Thank you for applying to the 2018 Out of Bounds Comedy Festival!
	p This year's festival will be from 
		strong August 28th  
		| to  
		strong September 3rd
		| . We will send out acceptance emails in the beginning of July. 

	h4 Application Fee
	p The application fee for early applicants is $15 for solo and duo acts, $35 for groups. 
	p In March these fees will increase $10 and in April increase an additional $10. 
	p
		em The last day to apply to the festival will be April 15th.

	h4 Hosting
	p Interested in hosting for Out of Bounds? We have a separate application  
		a(href="/hosts/apply") here
		| .