.box-block.box-bt
	h3 Performance Needs
	.form-group
		label.col-form-label.required-field(for="show-length") Typical Act Length
		small.form-text.text-muted While this does not guarantee how much time you will receive, we love to showcase acts at their natural length. Your answer will not affect your chances of being selected.
		.row
			.col-sm-5
				.input-group
					input#show-length.form-control(type="number" min="0" max="2400" name="show-length" value=submission['show-length'] || 25)
					.input-group-append
						span.input-group-text minutes
	.form-group
		label.col-form-label(for="special-needs") Special Requirements
		small.form-text.text-muted What are requirements for your act? Such as video, sound effects, props you cannot bring with you, etc.
		textarea#special-needs.form-control(maxlength="1500" name="special-needs")= submission['special-needs']