.box-block.box-bt
	h3 Social Media
	p Accepted acts will have their social media links listed on the festival website.
	#social-media
		for sm in socialMedia
			.social-media-item
				.form-group
					.input-group
						.input-group-prepend
							select.form-control(name="social-media-type[]" selected=sm.type)
								option(selected=(sm.type==='Website'	)) Website
								option(selected=(sm.type==='Twitter'	)) Twitter
								option(selected=(sm.type==='Facebook'	)) Facebook
								option(selected=(sm.type==='YouTube'	)) YouTube
								option(selected=(sm.type==='Instagram'	)) Instagram
								option(selected=(sm.type==='Snapchat'	)) Snapchat
								option(selected=(sm.type==='Other'		)) Other
						input.form-control(type="text" placeholder="URL" name="social-media-url[]" maxlength="280" value=sm.url)
				.form-group.text-right
					button.remove-social-media-button.btn.btn-danger(type="button") Remove
				hr
	.form-group
		button#add-social-media-button.btn.btn-secondary(type="button") Add Social Media

	script#social-media-template(type="text/x-template")
		.social-media-item
			.form-group
				.input-group
					.input-group-prepend
						select.form-control(name="social-media-type[]")
							option Website
							option Twitter
							option Facebook
							option YouTube
							option Instagram
							option Snapchat
							option Other
					input.form-control(type="text" placeholder="URL or Username" name="social-media-url[]" maxlength="280")
			.form-group.text-right
				button.remove-social-media-button.btn.btn-danger(type="button") Remove
			hr
	
	script.
		var socialMediaTemplate = $("#social-media-template").html()
		$("#add-social-media-button").click(function() {
			$("#social-media").append(socialMediaTemplate)
		})
		$("#social-media").on('click', '.remove-social-media-button', function() {
			$(this).closest(".social-media-item").remove()
		})