.box-block.box-bt
	h3 Video Link
	p Please submit a URL to a video of a performance of your act from the past 12 months. For standup, submit an unedited 5-15 minute video.
	p Video sketches and other fully-edited videos are not accepted. 
	.form-group
		label.col-form-label.required-field(for="video-url-0") Link to Video
		input#video-url-0.form-control(required type="text" name="video-url-0" maxlength="1400" value=submission['video-url-0'])
	.form-group
		label.col-form-label(for="video-url-1") Additional Video Link (If necessary)
		input#video-url-1.form-control(type="text" name="video-url-1" maxlength="1400" value=submission['video-url-1'])
	.form-group
		label.col-form-label(for="video-url-2") Additional Video Link (If necessary)
		input#video-url-2.form-control(type="text" name="video-url-2" maxlength="1400" value=submission['video-url-2'])
	.form-group
		label.col-form-label(for="video-info") Does your video require a password or any other additional information?
		input#video-info.form-control(type="text" name="video-info" maxlength="1400" value=submission['video-info'])