.box-block.box-bt
	h3 Availability
	p What days are you available to perform in the festival?
	.form-group
		.custom-control.custom-checkbox
			input#available-tuesday.custom-control-input(type="checkbox")
			label.custom-control-label(for="available-tuesday" name="available[]") Tuesday
	.form-group
		.custom-control.custom-checkbox
			input#available-wednesday.custom-control-input(type="checkbox")
			label.custom-control-label(for="available-wednesday" name="available[]") Wednesday
	.form-group
		.custom-control.custom-checkbox
			input#available-thursday.custom-control-input(type="checkbox")
			label.custom-control-label(for="available-thursday" name="available[]") Thursday
	.form-group
		.custom-control.custom-checkbox
			input#available-friday.custom-control-input(type="checkbox")
			label.custom-control-label(for="available-friday" name="available[]") Friday
	.form-group
		.custom-control.custom-checkbox
			input#available-saturday.custom-control-input(type="checkbox")
			label.custom-control-label(for="available-saturday" name="available[]") Saturday
	.form-group
		.custom-control.custom-checkbox
			input#available-sunday.custom-control-input(type="checkbox")
			label.custom-control-label(for="available-sunday" name="available[]") Sunday
	.form-group
		.custom-control.custom-checkbox
			input#available-monday.custom-control-input(type="checkbox")
			label.custom-control-label(for="available-monday" name="available[]") Monday
	p To prevent scheduling conflicts, what other acts are any of your members submitting for?
	.form-group
		textarea.form-control(maxlength="1500" name="conflicts")
