.box-block.box-bt
	h3 Availability
	p What days are you available to perform in the festival?
	.form-group
		.custom-control.custom-checkbox
			input#available-tuesday.custom-control-input(type="checkbox")
			label.custom-control-label(for="available-tuesday") Tuesday
	.form-group
		.custom-control.custom-checkbox
			input#available-wednesay.custom-control-input(type="checkbox")
			label.custom-control-label(for="available-wednesay") Wednesday
	.form-group
		.custom-control.custom-checkbox
			input#available-thursday.custom-control-input(type="checkbox")
			label.custom-control-label(for="available-thursday") Thursday
	.form-group
		.custom-control.custom-checkbox
			input#available-friday.custom-control-input(type="checkbox")
			label.custom-control-label(for="available-friday") Friday
	.form-group
		.custom-control.custom-checkbox
			input#available-saturday.custom-control-input(type="checkbox")
			label.custom-control-label(for="available-saturday") Saturday
	.form-group
		.custom-control.custom-checkbox
			input#available-sunday.custom-control-input(type="checkbox")
			label.custom-control-label(for="available-sunday") Sunday
	.form-group
		.custom-control.custom-checkbox
			input#available-monday.custom-control-input(type="checkbox")
			label.custom-control-label(for="available-monday") Monday
	p To prevent scheduling conflicts, what other acts are any of your members submitting for?
	.form-group
		textarea.form-control(maxlength="1500" name="conflicts")
