.box-block.box-bt
	h3 Flight Agreement
	.form-group
		p.required-field If you are from out of town, we will need your flight confirmation info 30 days before the festival. Will you able to provide this?
		select#flight-agreement.form-control(name="flight-agreement")
			option 
			option Yes
			option We will not be flying to the festival