extends ../_layout
block content
	style.
		.bg-accent-oob {
			background: url('../img/audience-dark.jpg') no-repeat bottom center fixed; 
			background-size: cover;
		}
	.p-3.text-center
		img.submission-logo(src="img/logo.png" alt="Out of Bounds Comedy Festival")
		h1.p-3.text-light.font-weight-bold 2018 Application
	.container
		.row
			.col-lg-8.mx-auto.pb-5
				.box
					block form