#legal-disclaimer-modal.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				h5.modal-title Legal Disclaimer
				button.close(type="button" data-dismiss="modal")
					span &times;
			.modal-body
				p By submitting this application I understand that, should my act be accepted, I am giving permission to use any and all of these materials for promotional and commercial festival purposes.
			.modal-footer
				button.btn.btn-primary(type="button" data-dismiss="modal") Close