.box-block.box-bt
	h3.mb-4 Location
	.form-group
		label.col-form-label(for="city") City
		input#city.form-control(type="text")
	.form-group
		label.col-form-label(for="state") State / Region
		input#state.form-control(type="text")
	.form-group
		label.col-form-label(for="country") Country
		small.form-text.text-muted Leave blank if USA
		input#country.form-control(type="text")
	.form-group
		label.col-form-label(for="home-base") What theater is your home base?
		small.form-text.text-muted Leave blank if not applicable.
		input#home-base.form-control(type="text")
