.box-block.box-bt
	h3 Social Media
	p Accepted acts will have their social media links listed on the festival website.
	.form-group
		.input-group
			.input-group-prepend
				select.form-control(name="social-media-type[]")
					option Twitter
					option Facebook
					option YouTube
					option Instagram
					option Website
					option Other
			input.form-control(type="text" placeholder="URL" name="social-media-url[]")
	.form-group
		.input-group
			.input-group-prepend
				select.form-control(name="social-media-type[]")
					option Twitter
					option Facebook
					option YouTube
					option Instagram
					option Website
					option Other
			input.form-control(type="text" placeholder="URL" name="social-media-url[]")
	.form-group
		button.btn.btn-secondary(type="button") Add Link