.box-block.box-bt
	.row
		.col-md-8
			span.text-muted By submitting, you agree to our 
				a(href="#" data-toggle="modal" data-target="#legal-disclaimer-modal") legal disclaimer
				| .
			include _legal-disclaimer-modal
		.col-md-4
			button.btn.btn-md.btn-primary(type="submit") Clicky-click