.box-block.box-bt
	h3 Video Link
	p Please submit a URL to a video of a performance of your act from the past 12 months where at least 75% of the performers would be performing in the festival. Please submit 5 minutes for standup. Video sketches and other fully-edited videos are not accepted. 
	.form-group
		label.col-form-label.required-field(for="video-url") Link to Video
		input#video-url.form-control(type="text" name="video-url" maxlength="1400")
	.form-group
		label.col-form-label(for="video-info") Does your video require a password or any other additional information?
		input#video-info.form-control(type="text" name="video-info" maxlength="1400")