extends ../_layout
block content
	.row
		.col-lg-8.mx-auto.pb-5
			.box
				form
					.box-head.box-head-accent-oob
					include _act-details
					include _location
					include _personnel
					include _performance-needs
					include _photo-upload
					include _social-media
					include _availability
					include _application-fee
					
					// Submit
					.box-block.box-bt
						.row
							.col-md-8
								span.text-muted By submitting, you agree to our 
									a(href="#" data-toggle="modal" data-target="#legal-disclaimer-modal") legal disclaimer
									| .
								include _legal-disclaimer-modal
							.col-md-4
								button.btn.btn-md.btn-primary(type="button") Clicky-click
	