extends ../_layout
block content
	.row
		.col-lg-6.mx-auto.pb-5
			.box
				form
					.box-head.box-head-accent-oob
					
					// Act Details
					.box-block
						h3.mb-4 Act Details
						.form-group
							label.col-form-label(for="act-name") Act Name
							input#act-name.form-control(
								type="text" 
								placeholder="Tyler Lane and the Giggle Gang" 
								required 
								autofocus
							)
						.form-group
							label.col-form-label(for="show-type") Show Type
							select#show-type.form-control
								option Improv
								option Sketch
								option Stand-Up
								option Variety
								option Podcast
						.form-group
							label.col-form-label(for="informal-description") Describe Your Act to Us
							small.form-text.text-muted This is to persuade reviewers &amp; won't be visible to the public. What makes your act special?
							textarea#informal-description.form-control(type="text")
						.form-group
							label.col-form-label(for="public-description") Describe Your Act to the Public
							small.form-text.text-muted Accepted acts will have this content published on our website and programs. Use third person active voice, e.g. "Jill Bernard is..." 
								a(tabindex="0" role="button" data-toggle="popover" data-trigger="focus" data-content="Miller & Lies is a comedy duo that performs a single story with awkward, emotionally vulnerable oddball characters. They've been doing improv together for ten years. Come hang with them and feel your feelings." style="cursor:pointer") See an example
								| .
							textarea#public-description.form-control(type="text")
						.form-group
							label.col-form-label(for="accolades") Previous Festival Apperances, Awards, etc.
							small.form-text.text-muted List any previous festival appearances, awards you've won, and any additional press materials (quotes, links to reviews, etc)
							textarea#accolades.form-control(type="text")
					
					// Location
					.box-block.box-bt
						h3.mb-4 Location
						.form-group
							label.col-form-label(for="city") City
							input#city.form-control(type="text")
						.form-group
							label.col-form-label(for="state") State / Region
							input#state.form-control(type="text")
						.form-group
							label.col-form-label(for="country") Country
							small.form-text.text-muted Leave blank if USA
							input#country.form-control(type="text")
						.form-group
							label.col-form-label(for="home-base") What theater is your home base?
							small.form-text.text-muted Leave blank if not applicable
							input#home-base.form-control(type="text")
					
					// Performance Needs
					.box-block.box-bt
						h3.mb-4 Performance Needs
						.form-group
							label.col-form-label(for="length") Act Length
							small.form-text.text-muted While this does not guarantee how much time you will receive, we love to showcase acts at their natural length. Your answer will not affect your chances of being selected.
							.input-group
								input#length.form-control(type="number" min="0" max="120" value="25")
								.input-group-append
									span.input-group-text minutes
						.form-group
							label.col-form-label(for="special-needs") Special Requirements
							small.form-text.text-muted What are requirements for your act? Such as video, sound effects, props you cannot bring with you, etc.
							textarea#special-needs.form-control

					// Photo Upload
					.box-block.box-bt
						h3 Photo Upload
						p Make it a good one
						.custom-file
							input#image-upload.custom-file-input(type="file")
							label.custom-file-label(for="image-upload")
					
					// Social Media
					.box-block.box-bt
						h3.mb-2 Social Media
						p Accepted acts will have their social media links listed on the festival website.
						.form-group
							.input-group
								select.form-control
									option Twitter
									option Facebook
									option YouTube
									option Instagram
									option Website
									option Other
								input.form-control(type="text" placeholder="URL")
						.form-group.text-right
							button.btn.btn-secondary(type="button") Add Link

					// Applicaton Fee
					.box-block.box-bt
						h3 Application Fee
						p Your application fee is 
							code $1.00
						p#payment-received(style="display:none") Payment Received! ✅
						include _paypal
					
					// Submit
					.box-block.box-bt
						.row
							.col-md-8
								span.text-muted By submitting, you agree to our 
									a(href="#" data-toggle="modal" data-target="#example-modal") legal disclaimer
									| .
							.col-md-4
								button.btn.btn-md.btn-primary(type="button") Clicky-click
	
	#example-modal.modal.fade
		.modal-dialog
			.modal-content
				.modal-header
					h5.modal-title Legal Disclaimer
					button.close(type="butotn" data-dismiss="modal")
						span &times;
				.modal-body
					p By submitting this application I understand that, should my act be accepted, I am giving permission to use any and all of these materials for promotional and commercial festival purposes.
				.modal-footer
					button.btn.btn-primary(type="button" data-dismiss="modal") Close
