extends _layout
block form
	form(action="/apply" method="POST")
		.box-head.box-head-accent-oob
		if errors 
			include partials/errors
		include partials/intro
		include partials/act-details
		include partials/location
		include partials/contact-information
		include partials/performance-requirements
		include partials/video
		include partials/social-media
		include partials/availability
		include partials/travel-agreement
		include partials/next