extends _layout
block form
	script(src="/js/vue.js")
	script(src="/js/axios.min.js")
	#app
		form(@submit.prevent="submitForm")
			.box-head.box-head-accent-oob
			if errors 
				include partials/errors
			.box-block
				h3.mb-4 Host/MC Application
				.form-group
					label.col-form-label.required-field(for="name") Full Name
					input#name.form-control(type="text" required autofocus maxlength="280" v-model="name")
				.form-group
					label.col-form-label.required-field(for="email") Email
					input#email.form-control(type="email" required maxlength="280" v-model="email")
				.form-group
					label.col-form-label.required-field(for="email") Phone Number
					input#email.form-control(type="tel" required maxlength="280" v-model="phoneNumber")
				.form-group
					label.col-form-label.required-field(for="bio") Bio
					small.form-text.text-muted Hosts may have this content published on our website and programs. Use third person active voice, e.g. "Jill Bernard is..." and limit it to 3-4 sentences. 
					textarea#bio.form-control(maxlength="1500" name="bio" required v-model="bio")
				.form-group
					label.col-form-label(for="experience") Previous Hosting/MC Experience
					textarea#experience.form-control(maxlength="1500" v-model="experience")
				.form-group
					label.col-form-label(for="text") Video URL (optional)
					small.form-text.text-muted If you have video of you hosting we'd like to see it!
					input#video-url.form-control(type="text" maxlength="280" v-model="videoUrl")
			.box-block.box-bt.text-right
				button#submit-button.btn.btn-md.btn-primary(type="submit") Submit
	script.
		new Vue({
			el: '#app',
			data() {
				return {
					name: '',
					email: '',
					phoneNumber: '',
					bio: '',
					experience: '',
					videoUrl: ''
				}
			},
			methods: {
				submitForm() {
					axios.post('/hosts', {
						name: this.name,
						email: this.email,
						phoneNumber: this.phoneNumber,
						bio: this.bio,
						experience: this.experience,
						videoUr: this.videoUrl
					}).then(response => {
						console.log(response)
					})
				}
			}
		})