.box-block.box-bt
	h3 Image Upload
	p Accepted acts will have their submitted photo used for the festival website and programs. Please submit a nice, large photo, preferrably vertical and without text. Photos that are too small will make us sad and ruin our Sunday. 
	p If you do not have the perfect photo ready yet, don't worry! You'll be able to update or submit one later. 
	input#image-url(type="hidden" name="image-url")
	input#delete-image-url(type="hidden" name="delete-image-url")
	#custom-file
		.custom-file
			input#file-input.custom-file-input(type="file" accept="image/*")
			label.custom-file-label(for="file-input") Select Image
		p.form-text
			em Image hosting powered by 
				a(href="https://imgur.com/" target="_blank") Imgur
				| .
	p.message
	.progress
		.progress-bar.bg-primary
.box-banner
	img#image-preview.box-banner-image(alt="Image preview")
.box-block.text-right.delete-image-box
	a#delete-image.btn.btn-danger(href="#" target="_blank" onclick="resetView()") Delete image

script.
	resetView()
	
	function resetView() {
		$("#image-preview, .progress, .delete-image-box").hide()
		$(".message").html("")
		$("#custom-file").show()
		$(".progress-bar").width(0)
	}


	$("#file-input").on('change', () => {
		var image = $("#file-input").prop('files')[0]
		if(image.size > (1024 * 1000 * 10)) {
			alert("Image cannot be larger than 10MB")
			return;
		}
		else {
			$(".progress").show()
			$("#custom-file").hide()
			$(".message").html("Uploading to Imgur...")
			formData = new FormData()
			formData.append('image', image)

			var request = {
			    url: 'https://imgur-apiv3.p.mashape.com/3/image',
				type: 'POST',
				mimeType: 'multipart/form-data',
				crossDomain: true,
				processData: false,
				contentType: false,
				dataType: 'json',
				headers: {
					'X-mashape-Key': 'MeRL1vcC70mshcx4yVw7R4jv88gnp11IPvPjsn4GKcdklk5FiE',
			        'Authorization': 'Client-ID c60e83c906306c5'
				},
				data: formData,
				xhr: function() {
					var xhr = new window.XMLHttpRequest()

					// This block of code is for the progress bar
					xhr.upload.addEventListener("progress", function(evt) {
						if (evt.lengthComputable) {
							var percentComplete = evt.loaded / evt.total
							percentComplete = parseInt(percentComplete * 100)
							$(".progress-bar").width(percentComplete + '%')
							if (percentComplete === 100) $(".message").html("Waiting for response from Imgur...")
						}
					}, false)

					return xhr
				}
			}

			$.ajax(request)
				.done(function(response){
					let imageUrl = response.data.link
					let deleteImageUrl = 'http://imgur.com/delete/' + response.data.deletehash
					$(".message").html(
						"Upload complete! <br> Link: <a href='http://imgur.com/" 
						+ response.data.id 
						+ "'>http://imgur.com/" 
						+ response.data.id + "</a>"
					)
					$(".progress").hide()
					$("#image-preview").attr('src', imageUrl)
					$("#image-url").val(imageUrl)
					$("#delete-image-url").val(deleteImageUrl)
					$("#delete-image").attr('href', deleteImageUrl)
					$(".delete-image-box, #image-preview").show()
				})
				.fail(function(response){ 
					console.log("Upload failed", response)
					alert(response.data.error)
				})
		}
	})