nav.dash-nav
	img#oobleck-logo(src="/img/logo.png" height="36px" width="auto")
	//header
		a.dash-nav-toggler
			span.dash-nav-toggler-icon
		.dash-nav-logo
			a.dash-nav-logo-link(href="#") OoBleck

	.dash-nav-list

		- var isAdmin = user.roles.includes('admin')
		- var isPanelist = user.roles.includes('panelist') || user.roles.includes('standup-panelist')

		if isAdmin
			a.dash-nav-item(href="/submissions") Act Submissions
			a.dash-nav-item(href='/hosts') Host Submissions
			a.dash-nav-item(href="/users") Users
		if isPanelist
			a.dash-nav-item(href="/submissions/review") Review Submissions