nav#dash-nav.dash-nav
	header
		a.dash-nav-toggler
			span.dash-nav-toggler-icon
		img#oobleck-logo(src="/img/logo.png" height="36px" width="auto")

	.dash-nav-list

		- var isAdmin = user.roles.includes('admin')
		- var isStaff = user.roles.includes('staff')
		- var isPanelist = user.roles.includes('panelist') 
		- var isStandupPanelist  = user.roles.includes('standup-panelist')
		- var isScheduler = user.roles.includes('schedule')

		if isStaff || isAdmin
			a.dash-nav-item(href="/acts") Acts
			a.dash-nav-item(href="/calendar") Calendar

		if isAdmin
			a.dash-nav-item(href="/users") Users
		//if isPanelist || isStandupPanelist || isScheduler
			a.dash-nav-item(href="/submissions/review") Review Submissions

		if false
			a.dash-nav-item(href="/submissions") Act Submissions
			a.dash-nav-item(href='/submissions/stamp') Accept Acts
			a.dash-nav-item(href="/submissions/unpaid") Unpaid Submissions