nav#dash-nav.dash-nav
	header
		a.dash-nav-toggler
			span.dash-nav-toggler-icon
		img#oobleck-logo(src="/img/logo.png" height="36px" width="auto")

	.dash-nav-list

		- var isAdmin = user.roles.includes('admin')
		- var isPanelist = user.roles.includes('panelist') 
		- var isStandupPanelist  = user.roles.includes('standup-panelist')
		- var isScheduler = user.roles.includes('schedule')

		if isAdmin || isScheduler
			a.dash-nav-item(href="/submissions") Act Submissions
			a.dash-nav-item(href='/hosts') Host Submissions
			a.dash-nav-item(href='/submissions/stamp') Accept Acts &nbsp;
				span.badge.badge-primary New!
		if isAdmin
			a.dash-nav-item(href="/submissions/unpaid") Unpaid Submissions
			a.dash-nav-item(href="/users") Users
			a.dash-nav-item(href="/scheduler") Scheduler
		if isPanelist || isStandupPanelist || isScheduler
			a.dash-nav-item(href="/submissions/review") Review Submissions