script#shows-template(type="text/template")
  div
    div(v-for="show in shows")
      .box.show2
        a.delete(v-show="$root.editMode" href="#" @click.prevent="removeShow(show._id)") remove show
        h4.time {{show.time | time}}
        p.act(v-for="act in show.acts") 
          span(v-if="act.type === 'Sketch'") âœï¸
          span(v-if="act.type === 'Music'") ðŸŽ¶
          span(v-if="act.type === 'Improv'") âš¡ï¸
          span(v-if="act.type === 'Stand-Up'") ðŸŽ¤
          span(v-if="act.type === 'Individual'") ðŸ—£
          |  {{act.name | shorten(24)}}

          a.delete(v-show="$root.editMode" href="#" @click.prevent="removeAct(show._id, act._id)") remove act
        p(v-show="$root.editMode")
          a(href="#" @click="showAddActModal(day, venue, show.time, show._id)" data-toggle="modal" data-target="#add-act-modal") add act

script.
  Vue.component('shows', {
    template: "#shows-template",
    props: ['day', 'venue'],
    computed: { 
      shows() {
        return store.getters.getShows(this.day, this.venue)
      }
    },
    filters: {
      time(time) {
        time = String(time)
        return time.slice(0, time.length-2) + ":" + time.slice(time.length-2) + "pm"
      },
      shorten(value, characters) {
      return value.length > characters
        ? value.substring(0,characters)+'...'
        : value
      },
    },
    methods: {
      showAddActModal(day, venue, time, _id) {
        this.$store.state.addActModal = {day: day, venue: venue, time: time, _id: _id}
        $('#add-act-modal').on('shown.bs.modal', function () {
          $("#add-act-modal-search").focus()
        })
      },
      removeAct(showId, actId) {
        let self = this
        axios
          .post('/api/shows/remove-act', {showId: showId, actId: actId})
          .then(function(response) {
            self.$store.commit('updateShow', response.data)
          })
          .catch(function(error) {
            alert("Error removing act from show :(")
            console.log(error)
          })
      },
      removeShow(id) {
        let self = this
        axios
          .delete('/api/shows/'+id)
          .then(function(response){
            self.$store.commit('removeShow', id)
          })
          .catch(function(error) {
            alert("Failed to delete show :(")
            console.log(error)
          })
      }
    }
  })

style.
  .delete{ float: right}