script#venue-template(type="text/template")
  .venue-container
    h3 {{venue}}
    p(v-show="$root.editMode") &nbsp;
      a.add-show(href="#" @click="showAddShowModal(day, venue)" data-toggle="modal" data-target="#add-show-modal") add show
    shows(:day="day" :venue="venue")

script.
  Vue.component('venue', {
    template: "#venue-template",
    props: ['day', 'venue'],
    methods: {
      showAddShowModal(day, venue) {
        this.$store.commit('addShowModal', {day, venue})
      }
    }
  })
