extends ../_layout
block content
	#vue-app.dash-boxes.container-fluid
		.row
			.col
				p
					a(@click.prevent="toggleFullscreen" href="#") Toggle Navigation
				p
					a(@click.prevent="toggleMinimal" href="#") Toggle Minimal

				//.row
					.col-3
						.input-group
							input.form-control(type="text" v-model="addDayName")
							input.form-control(type="number" min="0" v-model="addDayOrder")
							.input-group-append
								button.btn.btn-primary(type="button" @click="addDay") Add Day

				day(v-for="(day, key) in days" 
					:name="day.name" 
					:venues="day.venues" 
					:order="day.order"
					:_id="day._id"
					:key="key"
					@add-venue-modal="addVenueDay = $event"
					@add-show-modal="addShowModal = $event"
					@add-act-modal="addActModal.day = $event.day, addActModal.venue=$event.venue, addActModal.time=$event.time"
					@act-details-modal="actDetailsModal = $event")

		include modals/add-venue
		include modals/add-show
		include modals/add-act
		include modals/act-details

	script(src="/js/axios.min.js")
	script(src="/js/vue.js")
	script(src="/js/vuex.js")

	include components/day
	include components/venue
	include components/shows
	include components/act

	include store
	include app	