extends ../_layout
block content
  header.dash-titlebar
    .mb-md-0.mb-3
      span.dash-titlebar-title OoB 2018 Official Acceptance

  #app.dash-boxes.container
    .row.justify-content-center
      .col-6
        .box.box-b

          if submission.stamp !== 'in'
            .box-block.box-bb.box-rounded-top
              h2=submission.actName
              p This act was not admitted to Out of Bounds 2018
              p If this is wrong, please contact 
                code admin@oobfest.com
          else
            form(action="/submissions/accept/"+submission._id method="POST").box-block.box-bb.box-rounded-top
              h2=submission.actName
              if submission.confirmed
                if submission.showType === 'Improv'
                  include improv
                if submission.showType === 'Stand-Up'
                  include standup

              if submission.confirmed === false
                p You have chosen to decline.
                button.btn.btn-secondary.btn-block(type="submit" name="confirmation" value="cancel") Cancel

              else if submission.confirmed == null
                if submission.shows
                  p You are currently scheduled to perform
                  ul
                    for day in submission.shows
                      li=day
                p Please confirm by 
                  strong June 22
                    sup nd
                  |  or your spot will be forfeited.
                button.btn.btn-success.btn-block(type="submit" name="confirmation" value="yes") Commit
                button.btn.btn-danger.btn-block(type="submit" name="confirmation" value="no") Decline

