extends ../_layout
block content
  header.dash-titlebar
    .mb-md-0.mb-3
      span.dash-titlebar-title OoB 2018 Official Acceptance

  #app.dash-boxes.container(v-cloak)
    .row.justify-content-center
      .col-6
        .box.box-b
            .box-block.box-bb.box-rounded-top
              div(v-if="submission.stamp !== 'in'")
                p Error
              div(v-else)
                p Please confirm by 
                  strong June 22
                    sup nd
                  |  or your spot will be forfeited.
                button.btn.btn-primary.btn-block(type="button") I will be attending
                button.btn.btn-danger.btn-block(type="button") I will NOT be attending

                //.form-group.form-check
                  input#confirmed.form-check-input(type="checkbox" v-bind="submission.confirmed")
                  label.form-check-label(for="confirmed") I will be attending Out of Bounds 2018

                div(v-if="submission.additionalMembers.length > 0")
                  p Who?
                  p(v-for="member in submission.additionalMembers") {{member}}



  script(src="/js/axios.min.js")
  script(src="/js/vue.js")
  script(src="/js/vuex.js")
  script.

    let app = new Vue({ 
      el: "#app",
      data() { 
        return {
          submission: {
            stamp: null,
            confirmed: null
          }
        }
      },
      created() {
        let self = this
        axios
          .get('/api/submissions/get/' + window.location.pathname.split("/").pop())
          .then(function(response) {
            self.submission = response.data
            console.log(self.submission)
          })
          .catch(function(error) {
            alert("Error :(")
            console.log(error)
          })
      }
    })