label.col-form-label(for="country") Country
select#country.form-control(name="country")
	option(value="US" selected=(submission['country']==='US')) United States
	option(value="MX" selected=(submission['country']==='MX')) Mexico
	option(value="CA" selected=(submission['country']==='CA')) Canada
	option(value="--" selected=(submission['country']==='--')) --
	option(value="AF" selected=(submission['country']==='AF')) Afghanistan
	option(value="AL" selected=(submission['country']==='AL')) Albania
	option(value="DZ" selected=(submission['country']==='DZ')) Algeria
	option(value="AS" selected=(submission['country']==='AS')) American Samoa
	option(value="AD" selected=(submission['country']==='AD')) Andorra
	option(value="AO" selected=(submission['country']==='AO')) Angola
	option(value="AI" selected=(submission['country']==='AI')) Anguilla
	option(value="AQ" selected=(submission['country']==='AQ')) Antarctica
	option(value="AG" selected=(submission['country']==='AG')) Antigua and Barbuda
	option(value="AR" selected=(submission['country']==='AR')) Argentina
	option(value="AM" selected=(submission['country']==='AM')) Armenia
	option(value="AW" selected=(submission['country']==='AW')) Aruba
	option(value="AU" selected=(submission['country']==='AU')) Australia
	option(value="AT" selected=(submission['country']==='AT')) Austria
	option(value="AZ" selected=(submission['country']==='AZ')) Azerbaijan
	option(value="BS" selected=(submission['country']==='BS')) Bahamas
	option(value="BH" selected=(submission['country']==='BH')) Bahrain
	option(value="BD" selected=(submission['country']==='BD')) Bangladesh
	option(value="BB" selected=(submission['country']==='BB')) Barbados
	option(value="BY" selected=(submission['country']==='BY')) Belarus
	option(value="BE" selected=(submission['country']==='BE')) Belgium
	option(value="BZ" selected=(submission['country']==='BZ')) Belize
	option(value="BJ" selected=(submission['country']==='BJ')) Benin
	option(value="BM" selected=(submission['country']==='BM')) Bermuda
	option(value="BT" selected=(submission['country']==='BT')) Bhutan
	option(value="BO" selected=(submission['country']==='BO')) Bolivia
	option(value="BA" selected=(submission['country']==='BA')) Bosnia and Herzegowina
	option(value="BW" selected=(submission['country']==='BW')) Botswana
	option(value="BV" selected=(submission['country']==='BV')) Bouvet Island
	option(value="BR" selected=(submission['country']==='BR')) Brazil
	option(value="IO" selected=(submission['country']==='IO')) British Indian Ocean Territory
	option(value="BN" selected=(submission['country']==='BN')) Brunei Darussalam
	option(value="BG" selected=(submission['country']==='BG')) Bulgaria
	option(value="BF" selected=(submission['country']==='BF')) Burkina Faso
	option(value="BI" selected=(submission['country']==='BI')) Burundi
	option(value="KH" selected=(submission['country']==='KH')) Cambodia
	option(value="CM" selected=(submission['country']==='CM')) Cameroon
	option(value="CA" selected=(submission['country']==='CA')) Canada
	option(value="CV" selected=(submission['country']==='CV')) Cape Verde
	option(value="KY" selected=(submission['country']==='KY')) Cayman Islands
	option(value="CF" selected=(submission['country']==='CF')) Central African Republic
	option(value="TD" selected=(submission['country']==='TD')) Chad
	option(value="CL" selected=(submission['country']==='CL')) Chile
	option(value="CN" selected=(submission['country']==='CN')) China
	option(value="CX" selected=(submission['country']==='CX')) Christmas Island
	option(value="CC" selected=(submission['country']==='CC')) Cocos (Keeling) Islands
	option(value="CO" selected=(submission['country']==='CO')) Colombia
	option(value="KM" selected=(submission['country']==='KM')) Comoros
	option(value="CG" selected=(submission['country']==='CG')) Congo
	option(value="CD" selected=(submission['country']==='CD')) Congo, the Democratic Republic of the
	option(value="CK" selected=(submission['country']==='CK')) Cook Islands
	option(value="CR" selected=(submission['country']==='CR')) Costa Rica
	option(value="CI" selected=(submission['country']==='CI')) Cote d'Ivoire
	option(value="HR" selected=(submission['country']==='HR')) Croatia (Hrvatska)
	option(value="CU" selected=(submission['country']==='CU')) Cuba
	option(value="CY" selected=(submission['country']==='CY')) Cyprus
	option(value="CZ" selected=(submission['country']==='CZ')) Czech Republic
	option(value="DK" selected=(submission['country']==='DK')) Denmark
	option(value="DJ" selected=(submission['country']==='DJ')) Djibouti
	option(value="DM" selected=(submission['country']==='DM')) Dominica
	option(value="DO" selected=(submission['country']==='DO')) Dominican Republic
	option(value="TP" selected=(submission['country']==='TP')) East Timor
	option(value="EC" selected=(submission['country']==='EC')) Ecuador
	option(value="EG" selected=(submission['country']==='EG')) Egypt
	option(value="SV" selected=(submission['country']==='SV')) El Salvador
	option(value="GQ" selected=(submission['country']==='GQ')) Equatorial Guinea
	option(value="ER" selected=(submission['country']==='ER')) Eritrea
	option(value="EE" selected=(submission['country']==='EE')) Estonia
	option(value="ET" selected=(submission['country']==='ET')) Ethiopia
	option(value="FK" selected=(submission['country']==='FK')) Falkland Islands (Malvinas)
	option(value="FO" selected=(submission['country']==='FO')) Faroe Islands
	option(value="FJ" selected=(submission['country']==='FJ')) Fiji
	option(value="FI" selected=(submission['country']==='FI')) Finland
	option(value="FR" selected=(submission['country']==='FR')) France
	option(value="FX" selected=(submission['country']==='FX')) France, Metropolitan
	option(value="GF" selected=(submission['country']==='GF')) French Guiana
	option(value="PF" selected=(submission['country']==='PF')) French Polynesia
	option(value="TF" selected=(submission['country']==='TF')) French Southern Territories
	option(value="GA" selected=(submission['country']==='GA')) Gabon
	option(value="GM" selected=(submission['country']==='GM')) Gambia
	option(value="GE" selected=(submission['country']==='GE')) Georgia
	option(value="DE" selected=(submission['country']==='DE')) Germany
	option(value="GH" selected=(submission['country']==='GH')) Ghana
	option(value="GI" selected=(submission['country']==='GI')) Gibraltar
	option(value="GR" selected=(submission['country']==='GR')) Greece
	option(value="GL" selected=(submission['country']==='GL')) Greenland
	option(value="GD" selected=(submission['country']==='GD')) Grenada
	option(value="GP" selected=(submission['country']==='GP')) Guadeloupe
	option(value="GU" selected=(submission['country']==='GU')) Guam
	option(value="GT" selected=(submission['country']==='GT')) Guatemala
	option(value="GN" selected=(submission['country']==='GN')) Guinea
	option(value="GW" selected=(submission['country']==='GW')) Guinea-Bissau
	option(value="GY" selected=(submission['country']==='GY')) Guyana
	option(value="HT" selected=(submission['country']==='HT')) Haiti
	option(value="HM" selected=(submission['country']==='HM')) Heard and Mc Donald Islands
	option(value="VA" selected=(submission['country']==='VA')) Holy See (Vatican City State)
	option(value="HN" selected=(submission['country']==='HN')) Honduras
	option(value="HK" selected=(submission['country']==='HK')) Hong Kong
	option(value="HU" selected=(submission['country']==='HU')) Hungary
	option(value="IS" selected=(submission['country']==='IS')) Iceland
	option(value="IN" selected=(submission['country']==='IN')) India
	option(value="ID" selected=(submission['country']==='ID')) Indonesia
	option(value="IR" selected=(submission['country']==='IR')) Iran (Islamic Republic of)
	option(value="IQ" selected=(submission['country']==='IQ')) Iraq
	option(value="IE" selected=(submission['country']==='IE')) Ireland
	option(value="IL" selected=(submission['country']==='IL')) Israel
	option(value="IT" selected=(submission['country']==='IT')) Italy
	option(value="JM" selected=(submission['country']==='JM')) Jamaica
	option(value="JP" selected=(submission['country']==='JP')) Japan
	option(value="JO" selected=(submission['country']==='JO')) Jordan
	option(value="KZ" selected=(submission['country']==='KZ')) Kazakhstan
	option(value="KE" selected=(submission['country']==='KE')) Kenya
	option(value="KI" selected=(submission['country']==='KI')) Kiribati
	option(value="KP" selected=(submission['country']==='KP')) Korea, Democratic People's Republic of
	option(value="KR" selected=(submission['country']==='KR')) Korea, Republic of
	option(value="KW" selected=(submission['country']==='KW')) Kuwait
	option(value="KG" selected=(submission['country']==='KG')) Kyrgyzstan
	option(value="LA" selected=(submission['country']==='LA')) Lao People's Democratic Republic
	option(value="LV" selected=(submission['country']==='LV')) Latvia
	option(value="LB" selected=(submission['country']==='LB')) Lebanon
	option(value="LS" selected=(submission['country']==='LS')) Lesotho
	option(value="LR" selected=(submission['country']==='LR')) Liberia
	option(value="LY" selected=(submission['country']==='LY')) Libyan Arab Jamahiriya
	option(value="LI" selected=(submission['country']==='LI')) Liechtenstein
	option(value="LT" selected=(submission['country']==='LT')) Lithuania
	option(value="LU" selected=(submission['country']==='LU')) Luxembourg
	option(value="MO" selected=(submission['country']==='MO')) Macau
	option(value="MK" selected=(submission['country']==='MK')) Macedonia, The Former Yugoslav Republic of
	option(value="MG" selected=(submission['country']==='MG')) Madagascar
	option(value="MW" selected=(submission['country']==='MW')) Malawi
	option(value="MY" selected=(submission['country']==='MY')) Malaysia
	option(value="MV" selected=(submission['country']==='MV')) Maldives
	option(value="ML" selected=(submission['country']==='ML')) Mali
	option(value="MT" selected=(submission['country']==='MT')) Malta
	option(value="MH" selected=(submission['country']==='MH')) Marshall Islands
	option(value="MQ" selected=(submission['country']==='MQ')) Martinique
	option(value="MR" selected=(submission['country']==='MR')) Mauritania
	option(value="MU" selected=(submission['country']==='MU')) Mauritius
	option(value="YT" selected=(submission['country']==='YT')) Mayotte
	option(value="MX" selected=(submission['country']==='MX')) Mexico
	option(value="FM" selected=(submission['country']==='FM')) Micronesia, Federated States of
	option(value="MD" selected=(submission['country']==='MD')) Moldova, Republic of
	option(value="MC" selected=(submission['country']==='MC')) Monaco
	option(value="MN" selected=(submission['country']==='MN')) Mongolia
	option(value="MS" selected=(submission['country']==='MS')) Montserrat
	option(value="MA" selected=(submission['country']==='MA')) Morocco
	option(value="MZ" selected=(submission['country']==='MZ')) Mozambique
	option(value="MM" selected=(submission['country']==='MM')) Myanmar
	option(value="NA" selected=(submission['country']==='NA')) Namibia
	option(value="NR" selected=(submission['country']==='NR')) Nauru
	option(value="NP" selected=(submission['country']==='NP')) Nepal
	option(value="NL" selected=(submission['country']==='NL')) Netherlands
	option(value="AN" selected=(submission['country']==='AN')) Netherlands Antilles
	option(value="NC" selected=(submission['country']==='NC')) New Caledonia
	option(value="NZ" selected=(submission['country']==='NZ')) New Zealand
	option(value="NI" selected=(submission['country']==='NI')) Nicaragua
	option(value="NE" selected=(submission['country']==='NE')) Niger
	option(value="NG" selected=(submission['country']==='NG')) Nigeria
	option(value="NU" selected=(submission['country']==='NU')) Niue
	option(value="NF" selected=(submission['country']==='NF')) Norfolk Island
	option(value="MP" selected=(submission['country']==='MP')) Northern Mariana Islands
	option(value="NO" selected=(submission['country']==='NO')) Norway
	option(value="OM" selected=(submission['country']==='OM')) Oman
	option(value="PK" selected=(submission['country']==='PK')) Pakistan
	option(value="PW" selected=(submission['country']==='PW')) Palau
	option(value="PA" selected=(submission['country']==='PA')) Panama
	option(value="PG" selected=(submission['country']==='PG')) Papua New Guinea
	option(value="PY" selected=(submission['country']==='PY')) Paraguay
	option(value="PE" selected=(submission['country']==='PE')) Peru
	option(value="PH" selected=(submission['country']==='PH')) Philippines
	option(value="PN" selected=(submission['country']==='PN')) Pitcairn
	option(value="PL" selected=(submission['country']==='PL')) Poland
	option(value="PT" selected=(submission['country']==='PT')) Portugal
	option(value="PR" selected=(submission['country']==='PR')) Puerto Rico
	option(value="QA" selected=(submission['country']==='QA')) Qatar
	option(value="RE" selected=(submission['country']==='RE')) Reunion
	option(value="RO" selected=(submission['country']==='RO')) Romania
	option(value="RU" selected=(submission['country']==='RU')) Russian Federation
	option(value="RW" selected=(submission['country']==='RW')) Rwanda
	option(value="KN" selected=(submission['country']==='KN')) Saint Kitts and Nevis 
	option(value="LC" selected=(submission['country']==='LC')) Saint LUCIA
	option(value="VC" selected=(submission['country']==='VC')) Saint Vincent and the Grenadines
	option(value="WS" selected=(submission['country']==='WS')) Samoa
	option(value="SM" selected=(submission['country']==='SM')) San Marino
	option(value="ST" selected=(submission['country']==='ST')) Sao Tome and Principe 
	option(value="SA" selected=(submission['country']==='SA')) Saudi Arabia
	option(value="SN" selected=(submission['country']==='SN')) Senegal
	option(value="SC" selected=(submission['country']==='SC')) Seychelles
	option(value="SL" selected=(submission['country']==='SL')) Sierra Leone
	option(value="SG" selected=(submission['country']==='SG')) Singapore
	option(value="SK" selected=(submission['country']==='SK')) Slovakia (Slovak Republic)
	option(value="SI" selected=(submission['country']==='SI')) Slovenia
	option(value="SB" selected=(submission['country']==='SB')) Solomon Islands
	option(value="SO" selected=(submission['country']==='SO')) Somalia
	option(value="ZA" selected=(submission['country']==='ZA')) South Africa
	option(value="GS" selected=(submission['country']==='GS')) South Georgia and the South Sandwich Islands
	option(value="ES" selected=(submission['country']==='ES')) Spain
	option(value="LK" selected=(submission['country']==='LK')) Sri Lanka
	option(value="SH" selected=(submission['country']==='SH')) St. Helena
	option(value="PM" selected=(submission['country']==='PM')) St. Pierre and Miquelon
	option(value="SD" selected=(submission['country']==='SD')) Sudan
	option(value="SR" selected=(submission['country']==='SR')) Suriname
	option(value="SJ" selected=(submission['country']==='SJ')) Svalbard and Jan Mayen Islands
	option(value="SZ" selected=(submission['country']==='SZ')) Swaziland
	option(value="SE" selected=(submission['country']==='SE')) Sweden
	option(value="CH" selected=(submission['country']==='CH')) Switzerland
	option(value="SY" selected=(submission['country']==='SY')) Syrian Arab Republic
	option(value="TW" selected=(submission['country']==='TW')) Taiwan, Province of China
	option(value="TJ" selected=(submission['country']==='TJ')) Tajikistan
	option(value="TZ" selected=(submission['country']==='TZ')) Tanzania, United Republic of
	option(value="TH" selected=(submission['country']==='TH')) Thailand
	option(value="TG" selected=(submission['country']==='TG')) Togo
	option(value="TK" selected=(submission['country']==='TK')) Tokelau
	option(value="TO" selected=(submission['country']==='TO')) Tonga
	option(value="TT" selected=(submission['country']==='TT')) Trinidad and Tobago
	option(value="TN" selected=(submission['country']==='TN')) Tunisia
	option(value="TR" selected=(submission['country']==='TR')) Turkey
	option(value="TM" selected=(submission['country']==='TM')) Turkmenistan
	option(value="TC" selected=(submission['country']==='TC')) Turks and Caicos Islands
	option(value="TV" selected=(submission['country']==='TV')) Tuvalu
	option(value="UG" selected=(submission['country']==='UG')) Uganda
	option(value="UA" selected=(submission['country']==='UA')) Ukraine
	option(value="AE" selected=(submission['country']==='AE')) United Arab Emirates
	option(value="GB" selected=(submission['country']==='GB')) United Kingdom
	option(value="UM" selected=(submission['country']==='UM')) United States Minor Outlying Islands
	option(value="UY" selected=(submission['country']==='UY')) Uruguay
	option(value="UZ" selected=(submission['country']==='UZ')) Uzbekistan
	option(value="VU" selected=(submission['country']==='VU')) Vanuatu
	option(value="VE" selected=(submission['country']==='VE')) Venezuela
	option(value="VN" selected=(submission['country']==='VN')) Viet Nam
	option(value="VG" selected=(submission['country']==='VG')) Virgin Islands (British)
	option(value="VI" selected=(submission['country']==='VI')) Virgin Islands (U.S.)
	option(value="WF" selected=(submission['country']==='WF')) Wallis and Futuna Islands
	option(value="EH" selected=(submission['country']==='EH')) Western Sahara
	option(value="YE" selected=(submission['country']==='YE')) Yemen
	option(value="YU" selected=(submission['country']==='YU')) Yugoslavia
	option(value="ZM" selected=(submission['country']==='ZM')) Zambia
	option(value="ZW" selected=(submission['country']==='ZW')) Zimbabwe