extends ../_layout
block content
	header.dash-titlebar
		.mb-md-0.mb-3
			span.dash-titlebar-title Account Settings

	.dash-boxes.container
		.row.justify-content-center
			.col-6
				.box.box-b.box-block
					h4 Username
					pre=user.username
					h4 Email
					pre=user.email
					h4 Roles
					if user.roles
						p
							for role in user.roles
								span.badge.badge-primary=role
								| &nbsp;
					else
						p You don't have any roles! 