extends ../_layout
block content
	header.dash-titlebar
		.mb-md-0.mb-3
			span.dash-titlebar-title Set Password

	.dash-boxes.container
		.row.justify-content-center
			.col-6
				form.box.box-b.box-block(method="POST" action="/users/password/"+editUser._id)
					input(type="hidden" value=editUser.isPasswordSet)
					if editUser.isPasswordSet
						p Password has already been set!
						p Problems, contact  
							code admin@oobfest.com
						//h2 Change Password
						//.form-group
							label.col-form-label(for="password") New Password
							input#password.form-control(type="password" name="password")
						//.form-group
							label.col-form-label(for="old-password") Old Password
							input#old-password.form-control(type="password" name="old-password")
					else
						h2 Welcome!
						.form-group
							label.col-form-label(for="password") Please enter a password for 
								code #{editUser.username}
							input#password.form-control(type="password" name="password")
					.text-right
						button#add-user-button.btn.btn-primary(type="submit") Save