extends ../_layout
block content
	header.dash-titlebar
		.mb-md-0.mb-3
			span.dash-titlebar-title Users
		button.btn.btn-secondary.ml-md-auto(data-toggle="modal" data-target="#add-user-modal") Add User

	.dash-boxes.container-fluid
		.box.box-b
			table.box-table.table
				thead
					tr
						th Name
						th Email
						th Password Set
						th
						th
						th Roles
				tbody
					for user in users
						tr
							td=user.username
							td=user.email
							td=user.isPasswordSet
							td
								a(href="/users/edit/"+user._id) Edit
							td
								for role in user.roles
									span.badge.badge-info=role
									| &nbsp;

	#add-user-modal.modal.fade
		.modal-dialog
			form#add-user-form.modal-content(action="/users/" method="POST")
				.modal-header
					h5.modal-title Create User
					button.close(data-dismiss="modal")
						span &times;
				.modal-body
					.form-group
						label.col-form-label(for="add-username") Username
						input#add-username.form-control(type="text" name="username")
					.form-group
						label.col-form-label(for="add-email") Email
						input#add-email.form-control(type="email" name="email")
					p Roles
					.form-check
						input#admin-role-checkbox.form-check-input.input(type="checkbox" name="roles" value="admin")
						label.form-check-label(for="admin-role-checkbox") Admin
					.form-check
						input#schedule-role-checkbox.form-check-input.input(type="checkbox" name="roles" value="schedule")
						label.form-check-label(for="schedule-role-checkbox") Schedule
					.form-check
						input#standup-role-checkbox.form-check-input.input(type="checkbox" name="roles" value="standup")
						label.form-check-label(for="standup-role-checkbox") Standup
					.form-check
						input#panelist-role-checkbox.form-check-input.input(type="checkbox" name="roles" value="panelist")
						label.form-check-label(for="panelist-role-checkbox") Panelist
					.form-check
						input#standup-panelist-role-checkbox.form-check-input.input(type="checkbox" name="roles" value="standup-panelist")
						label.form-check-label(for="standup-panelist-role-checkbox") Standup Panelist
				.modal-footer
					button.btn.btn-secondary(type="button" data-dismiss="modal") Cancel
					button#add-user-button.btn.btn-primary(type="submit") Save