#reviewers.tab-pane.fade
	h4.mt-3
		span.badge.badge-info=totalReviewsCount
		|  Reviews
	.box.box-b
		table.table.box-table
			thead
				tr
					th Name
					th Reviews
					//th Workload
					//th Review %
					//th Avg. Score
			tbody
				for reviewer, index in reviews
					tr
						td
							a(href="/submissions/reviews-by-user/" + index)=index
						td=reviewer.length
						//td=reviewer.workload
						//td=reviwer.reviewPercent
						//td=reviewer