extends ../_layout
block content
	header.dash-titlebar
		.mb-md-0.mb-3
			span.dash-titlebar-title Host Submissions

	.dash-boxes.container-fluid
		.box.box-b
			table.box-table.table
				thead
					tr
						th Name
						th Delete
				tbody
					for host in hosts
						tr
							td
								a(href="/hosts/"+host._id)=host.name
							td
								a(href="/hosts/delete/" + host._id) Delete