extends ../_layout
block content
  header.dash-titlebar
    .mb-md-0.mb-3
      span.dash-titlebar-title Shows

  #app.dash-boxes.container-fluid
    .box.box-b(v-if="shows.length > 0")
      table.box-table.table.text-center
        thead
          tr
            th 
              input.form-control(type="text" placeholder="Search day, venue and time" v-model="search")
            th Cap
            th Sold
            th Left
        tbody
          tr(v-for="(show, index) in filteredShows")
            td.text-left 
              p.font-weight-bold {{show.day}}, {{show.venue}}, {{show.time | time}}
              ul
                li(v-for="act in show.acts") {{act.name}}
              p Tickets
              ul(v-if="show.tickets.length > 0")
                li(v-for="ticket in show.tickets") {{ticket.name}}
              button.btn.btn-danger(type="button" @click="clearTickets(show._id)") Clear
              | &nbsp;
              button.btn.btn-primary(type="button" @click="setCapacity(show._id)") Set Capacity

            td.digits {{show.capacity}}
            td.digits 
              a(href="#" @click.prevent="todo") {{show.capacity - show.remaining}}
            td.digits {{show.remaining}}              
    p.m2(v-else) No shows yet

  script(src="/js/axios.min.js")
  script(src="/js/vue.js")
  script.
    let app = new Vue({ 
      el: "#app",
      data() { 
        return {
          shows: [],
          search: ""
        }
      },
      computed: {
        filteredShows() {
          if (this.search == '') return this.shows
          else {
            let searchRegex = new RegExp(this.search, 'i')
            return this.shows.filter(s=> {
              let searchedString = s.day + " " + s.venue + " " + s.time + " " + 
                                   s.venue + " " + s.day + " " + s.time + " " + s.venue
              return searchedString.match(searchRegex)
            })
          }
        }
      },
      methods: {
        setCapacity(id) {
          let capacity = Number(prompt("New capacity"))
          axios
            .post('/api/shows/set-capacity/' + id, {capacity: capacity})
            .then((response)=> {
              alert("YAY")
            })
            .catch((error)=> {
              alert("Boo")
              console.log(error)
            })
        },
        clearTickets(id) {
          axios
            .post('/api/shows/clear-tickets/' + id)
            .then((response)=> {
              alert("YAY")
            })
            .catch((error)=> {
              alert("BOO")
            })
        },
        todo() {
          alert("Not implemented yet 👻")
        }
      },
      filters: {
        time(time) {
          time = String(time)
          return time.slice(0, time.length-2) + ":" + time.slice(time.length-2) + "pm"
        },
      },
      created() {
        let self = this
        axios
          .get('/api/shows/')
          .then(function(response) {
            self.shows = response.data
          })
          .catch(function(error) {
            alert("Error getting shows :(")
            console.log(error)
          })
      }
    })
